<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bekhruzdev.drivesafe">


    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />


    <application
        android:name=".application.DriveSafeApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/drivesafe_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.DriveSafe"
        tools:targetApi="34">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="face" />


           <activity
               android:name=".mlkit_utils.MainActivity"
               android:exported="true"
               android:theme="@style/AppTheme"
               android:configChanges="orientation"
               android:screenOrientation="portrait">
               <intent-filter>
                   <action android:name="android.intent.action.MAIN" />

                   <category android:name="android.intent.category.LAUNCHER" />
               </intent-filter>
           </activity>

        <activity
            android:name=".ui.camerax_live_preview.CameraXLivePreviewActivity"
            android:exported="true"
            android:theme="@style/AppTheme"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.live_preview.LivePreviewActivity"
            android:exported="true"
            android:theme="@style/AppTheme"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.TestPreviewActivity"
            android:exported="true"
            android:theme="@style/AppTheme"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>


    <!--    <activity
            android:name=".ui.usb_camera_live_preview.UsbCameraLivePreviewActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_DETACHED" />
            </intent-filter>
          &lt;!&ndash;  <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />&ndash;&gt;
        </activity>
-->

        <activity
            android:name=".ui.SettingsActivity"
            android:exported="false"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.SampleActivity"
            android:exported="true"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <service android:name=".service.DrowsinessDetectionService" />
    </application>

</manifest>